<html>
    <head>
<link rel="stylesheet" href="/css/style.css"> 


    </head>

    <body>
        <div class="main-content">
{{>header}}

<p>created by {{name}}</p>
 <p>use this site for weather</p>
 <form>
     <input placeholder="location">
     <button>search</button>>
 </form>
<p id="message-1"></p>>
<p id='message-2'></p>>

 </div>
 {{>footer}}
 <script src="/js/app.js"></script>
    </body>
</html>